<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "tw.org.totalcare.www"
        version   = "1.0.1">

    <name>TCI 華人癌症資訊網</name>

    <description>
        當我們看到國外有像NCI(美國國家癌病協會)或ACS (America Cancer Society)提供民眾完整的癌症資訊時，是否大家也同樣希望有一個以提供華語為主，資訊完整、正確的癌症資訊網站。因此，我們分析整理了目前華人的癌症網站，發現部分癌症相關資訊仍有許多不足與缺乏的地方。成立台灣癌症資訊全人關懷協會的宗旨，就是希望以華語提供全方位華人地區的癌症病患及家屬在面對疾病時需要的完整資訊和線上諮詢協助，並提升其生活品質。
    </description>

    <author href="http://www.totalcare.org.tw" email="tci@totalcare.org.tw">
        台灣癌症資訊全人關懷協會
    </author>

    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="android-minSdkVersion" value="14" /><!-- Android 4.0 is minimum supported -->
    <feature name="http://api.phonegap.com/1.0/device" />

    <config-file platform="ios" parent="CFBundleShortVersionString"><string>118</string></config-file>
    <platform name="ios" />
    <platform name="android" />

    <!-- You can comment out features you aren't using -->
    <plugin name="com.phonegap.plugin.statusbar" version="1.1.0" source="pgb" />
    <!-- <plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" /> -->
    <!-- <plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" /> -->
    <!-- <plugin name="org.apache.cordova.camera" version="0.3.2" /> -->
    <!-- <plugin name="org.apache.cordova.contacts" version="0.2.13" /> -->
    <plugin name="org.apache.cordova.device" spec="0.3.0" source="pgb" />
    <!-- <plugin name="org.apache.cordova.dialogs" version="0.2.10" /> -->
    <!-- <plugin name="org.apache.cordova.file" version="1.3.1" /> -->
    <!-- <plugin name="org.apache.cordova.file-transfer" version="0.4.6" /> -->
    <plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />
    <plugin name="org.apache.cordova.inappbrowser" spec="0.6.0" source="pgb" />
    <!-- <plugin name="org.apache.cordova.media-capture" version="0.3.3" /> -->
    <plugin name="org.apache.cordova.network-information" spec="0.2.15" source="pgb" />
    <plugin name="org.apache.cordova.splashscreen" spec="1.0.0" source="pgb" />
    <!-- <plugin name="org.apache.cordova.vibration" version="0.3.11" /> -->

    <!-- to show app faster, set autohide to true. iOS only -->
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="5000" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="keyboardDisplayRequiresUserAction" value="false" />
    <preference name="webviewbounce" value="false" />

    <!-- If you are seeing a blank screen on Android on app load, uncomment SplashScreenDelay preference -->
    <!--preference name="SplashScreenDelay" value="10000" /-->

    <!-- No need to edit below this line -->
    <splash src="splash.png"/>

    <platform name="ios">
        <icon src="res/icon/ios/icon-57.png" width="57" height="57" />
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-57-2x.png" width="114" height="114" />
        <icon src="res/icon/ios/icon-72-2x.png" width="144" height="144" />
        <splash src="res/screen/ios/screen-iphone-portrait.png" width="320" height="480" />
        <splash src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
        <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
        <splash src="res/screen/ios/screen-ipad-landscape.png" width="1024" height="768" />
        <splash src="res/screen/ios/screen-ipad-portrait.png" width="768" height="1024" />
        <splash src="res/screen/ios/screen-ipad-landscape-2x.png" width="2048" height="1496" />
        <splash src="res/screen/ios/screen-ipad-portrait-2x.png" width="1536" height="2008" />
    </platform>

    <!-- <splash src="res/screen/ios/screen-iphone6-portrait.png" platform="ios" width="750" height="1334" />
    <splash src="res/screen/ios/screen-iphone6-landscape.png" platform="ios" width="1334" height="750" />
    <splash src="res/screen/ios/screen-iphone6-plus-portrait.png" platform="ios" width="1242" height="2208" />
    <splash src="res/screen/ios/screen-iphone6-plus-landscape.png" platform="ios" width="2208" height="1242" /> -->

    <platform name="android">
        <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
        <splash src="res/screen/android/screen-hdpi-portrait.png" qualifier="port-hdpi" />
        <splash src="res/screen/android/screen-ldpi-portrait.png" qualifier="port-ldpi" />
        <splash src="res/screen/android/screen-mdpi-portrait.png" qualifier="port-mdpi" />
        <splash src="res/screen/android/screen-xhdpi-portrait.png" qualifier="port-xhdpi" />
    </platform>

    <icon src="icon.png" />

    <content src="index.html" />
    <access origin="*" subdomains="true" />

</widget>